* {
    font-family: 'First Coffee';
}

body {
    text-align: center;
}

#topbar {
    height: 35px;
}

.dropdown {
    position: absolute;
    top: 10px;
    right: 10px;
}

.dropdownLabel {
    width: 125px;
    height: 35px;
    border: none;
    font-size: 20px;
}

.dropdownContent {
    display: none;
    position: absolute;
    width: 125px;
}

.dropdownContent a {
    text-decoration: none;
    display: block;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
}

#title {
    text-align: center;
    font-size: 50px;
}

#preamble {
    padding-top: 20px;
    padding-bottom: 20px;
}

#preamble>p {
    font-size: 20px;
    max-width: 75vw;
    margin-left: auto;
    margin-right: auto;
}

#discordAuthRedirect {
    text-decoration: none;
}

#discordBtn {
    border-radius: 10px;
    width: 300px;
    height: 50px;
    font-size: 20px;
}

#discordAuthErrorMsg {
    display: none;
}

#loading {
    display: none;
    font-size: 40px;
}

.worksReadQ {
    font-size: 20px;
    margin-top: 20px;
}

.worksReadInputs {
    text-align: left;
    display: inline-block;
}

.catLabel {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

.catDesc {
    font-size: 20px;
    width: min(600px, 100%);
    display: inline-block;
}

.catInput {
    font-size: 20px;
    width: 300px;
}

.option {
    border-radius: 10px;
    width: min(400px, 70vw);
    display: flex;
    position: relative;
    min-height: 60px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.skip {
    width: 70px;
}

.optLabel {
    font-size: 20px;
}

.optInput {
    display: none;
}

.optDesc {
    font-size: 15px;
    margin-top: 10px;
}

.optLink {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(0, -50%);
    width: 80px;
}

#sendBtn {
    min-width: min(15vw, 150px);
    height: min(10vh, 75px);
    border-radius: 10px;
    font-size: 50px;
}

#honeypot {
    display: none;
}

.themeToggleBtn {
    position: absolute;
    top: 0;
    left: 0;
    height: min(4vh, 4vw);
    width: min(4vh, 4vw);
    background-size: contain;
}

.themeTransition {
    transition: all 0.5s;
}

@font-face {
    font-family: "First Coffee";
    src: url("../font/First Coffee.otf") format("otf"),
        url("../font/First Coffee.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

#nwero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: rotating 5s linear infinite;
}

@keyframes rotating {
    from {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    to {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}

.cube {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    animation: rotateCube 10s linear infinite;
    display: inline-block;
    margin-top: 75px;
}

.box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
    background-size: cover;
}

.box1 {
    transform: translateZ(100px);
}
.box2 {
    transform: rotateY(90deg) translateX(100px);
    transform-origin: right;
}
.box3 {
    transform: rotateY(180deg) translateZ(100px);
}
.box4 {
    transform: rotateY(-90deg) translateX(-100px);
    transform-origin: left;
}
.box5 {
    transform: rotateX(-90deg) translateY(-100px);
    transform-origin: top;
}
.box6 {
    transform: rotateX(90deg) translateY(100px);
    transform-origin: bottom;
}

@keyframes rotateCube {
    0%,
    100% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotateY(90deg) rotateZ(90deg);
    }
    40% {
        transform: rotateY(180deg) rotateZ(-90deg);
    }
    60% {
        transform: rotateY(270deg) rotateZ(90deg);
    }
    80% {
        transform: rotateY(360deg) rotateZ(-90deg);
    }
}