* {
    font-family: 'First Coffee';
}

body {
    text-align: center;
    background-color: pink;
}

#topbar {
    height: 35px;
}

.dropdown {
    position: absolute;
    top: 10px;
    right: 10px;
}

.dropdownLabel {
    background-color: rgb(233, 154, 166);
    color: black;
    width: 125px;
    height: 35px;
    border: none;
    font-size: 20px;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: white;
    width: 125px;
}

.dropdownContent a {
    color: black;
    text-decoration: none;
    display: block;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
}

.dropdownContent a:hover {background-color: lightgray;}

.dropdown.active .dropdownLabel {background-color: rgb(215, 142, 153);}

#title {
    text-align: center;
    font-size: 50px;
}

#preamble {
    background-color: rgba(255,255,255,0.5);
    padding-top: 20px;
    padding-bottom: 20px;
}

#preamble>p {
    font-size: 20px;
    max-width: 75vw;
    margin-left: auto;
    margin-right: auto;
}

#discordAuthRedirect {
    text-decoration: none;
}

#discordBtn {
    border: 2px black solid;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    background-color: #5865F2;
    color: white;
    font-size: 20px;
}

#discordAuthErrorMsg {
    display: none;
}

#loading {
    display: none;
    font-size: 40px;
}

.catLabel {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

.catDesc {
    font-size: 20px;
}

.catInput {
    font-size: 20px;
}

.option {
    border: 2px black solid;
    border-radius: 10px;
    width: min(400px, 70vw);
    display: flex;
    position: relative;
    min-height: 60px;
    background-color: white;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.skip {
    width: 70px;
}

.optLabel {
    font-size: 20px;
}

.optInput {
    display: none;
}

.optDesc {
    font-size: 15px;
    margin-top: 10px;
    color: #444444;
}

.optLink {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(0, -50%);
    width: 80px;
}

.checked {
    background: rgb(0, 191, 255);
}

#sendBtn {
    min-width: min(15vw, 150px);
    height: min(10vh, 75px);
    border: 2px black solid;
    border-radius: 10px;
    background-color: white;
    font-size: 50px;
}

#honeypot {
    display: none;
}

@font-face {
    font-family: "First Coffee";
    src: url("../font/First Coffee.otf") format("otf"),
        url("../font/First Coffee.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

#nwero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: rotating 5s linear infinite;
}

@keyframes rotating {
    from {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    to {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}